<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001238156282-ss3bu1unpu9lcpu2b3b4sps0klrofrq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001238156282-ss3bu1unpu9lcpu2b3b4sps0klrofrq8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1001238156282-9315e55508h5gf9ucil0lmtormtki2bq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmjFPyEM2gtoCRfo4jx02_LAPPPVwtYFw</string>
	<key>GCM_SENDER_ID</key>
	<string>1001238156282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unrype.doeat</string>
	<key>PROJECT_ID</key>
	<string>doeat-21e18</string>
	<key>STORAGE_BUCKET</key>
	<string>doeat-21e18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001238156282:ios:1ea14aab31fb69d3c4ca43</string>
</dict>
</plist>